# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Editor directories and project files
.idea/
.vscode/

# Backup files
*.bak
*.tmp
